* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: white;
    color: black;
    padding: 20px 0;
  }
  
  .header-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .custom-logo img {
    width: 80px;
    height: auto;
  }
  
  .header-text h1 {
    font-size: 2rem;
    margin: 0;
  }
  
  .header-text p {
    font-size: 1rem;
    margin-top: 5px;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #333;
    padding: 10px 0;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
  }
  
  .left-column {
    flex: 0 0 30%;
    text-align: center;
  }
  
  .right-column {
    flex: 0 0 70%;
  }
  
  .headshot {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
  }
  
  .main-content-top {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
  }

  .main-content-bottom {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
  }
  .right-column img {
    height: 50px;
    width: 50px;
  }

  footer {
    background-color: #333;
    color: white;
    text-align: right;
    padding: 10px;
  }

  footer .text-center{
    text-align: center;
  }
  
  @media (max-width: 2500px) {
    main {
      margin: 40px;
    }
  }
  
  @media (max-width: 1200px) {
    .navbar {
      gap: 15px;
    }
  
    .left-column,
    .right-column {
      flex: 1 1 100%;
    }
  
    .headshot {
      max-width: 150px;
    }
  }
  
  @media (max-width: 900px) {
    .navbar {
      gap: 10px;
    }
  }
  
  @media (max-width: 600px) {

    main {
      flex-direction: column;
      align-items: center;
    }
  
    .left-column,
    .right-column {
      width: 100%;
    }
  
    .navbar {
      flex-direction: column;
      align-items: center;
    }
  
    header {
      order: 1;
    }
    .navbar {
      order: 2;
    }
    .left-column {
      order: 3;
    }
    .right-column {
      order: 4;
    }
    footer {
      order: 5;
    }
  }